:root {
  /* --color-node: steelblue; */
  --color-node: #7B1B38;
  --color-internal-node: #CCC;
  --color-node-selected: #7B1B38;
  --color-node-collapsed: black;
  --color-node-tagged: #00f;
  --color-branch: #999;
  --color-branch-selected: #7B1B38;
  ;
  --color-branch-tagged: #00f;
  --color-branch-tracer: #bbb;
  --color-clade: lightgrey;
  --color-clade-stroke: #222;
}

.tree-selection-brush .extent {
  fill-opacity: .05;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.tree-scale-bar text {
  font: sans-serif;
}

.tree-scale-bar line,
.tree-scale-bar path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.node circle,
.node ellipse,
.node rect {
  fill: var(--color-node);
  stroke: black;
  stroke-width: 0.5px;
}

.node.alternate circle,
.node.alternate ellipse,
.node.alternate rect {
  fill: var(--color-node-alternate, #CCC);
  /* Default to lightblue if --color-node-alternate is not defined */
  stroke: black;
  stroke-width: 0.5px;
}

.internal-node circle,
.internal-node ellipse,
.internal-node rect {
  fill: var(--color-internal-node);
  stroke: black;
  stroke-width: 0.5px;
}

.internal-bubble circle {
  /* fill color is set dynamically by JavaScript based on pendant length */
  stroke: var(--background-dark, #3D3D3D);
  stroke-width: 1px;
}

.node {
  font: 10px sans-serif;
}

.node-selected {
  fill: var(--color-node-selected) !important;
}

.node-collapsed circle,
.node-collapsed ellipse,
.node-collapsed rect {
  fill: var(--color-node-collapsed) !important;
}

.node-tagged {
  fill: var(--color-node-tagged);
}

.branch {
  fill: none;
  stroke: var(--color-branch);
  stroke-width: 2px;
}

.clade {
  fill: var(--color-clade);
  stroke: var(--color-clade-stroke);
  stroke-width: 2px;
  opacity: 0.5;
}

.branch-selected {
  stroke: var(--color-branch-selected) !important;
  stroke-width: 3px;
}

.branch-tagged {
  stroke: var(--color-branch-tagged);
  stroke-dasharray: 10, 5;
  stroke-width: 2px;
}

.branch-tracer {
  stroke: var(--color-branch-tracer);
  stroke-dasharray: 3, 4;
  stroke-width: 1px;
}

.branch-multiple {
  stroke-dasharray: 5, 5, 1, 5;
  stroke-width: 3px;
}

.branch:hover {
  stroke-width: 10px;
}

.internal-node circle:hover,
.internal-node ellipse:hover,
.internal-node rect:hover {
  fill: black;
  stroke: var(--color-internal-node);
}

.tree-widget {}