<!-- templates/database.html -->
{% extends "base.html" %}
{% block content %}
<style>
    .selected-superfamily {
        background-color: #B69E6C !important;
        color: black !important;
    }
    .show-button {
        outline: none !important;
    }
    .show-button:focus {
        outline: none !important;
        box-shadow: none !important;
    }
</style>
<form method="post" action="/phylotree_render">
    <!-- Add Filter Dropdown -->
    <div class="mb-3">
        <label for="source-filter" class="form-label">Filter by Source</label>
        <select id="source-filter" class="form-select">
            <option value="">All</option>
            {% for source in sources %}
            <option value="{{ source }}">{{ source }}</option>
            {% endfor %}
        </select>
    </div>
    <ul id="file-list">
        <div class="accordion" id="superfamily-accordion">
            {% for superfamily in superfamilies %}
            {% set safe_name = superfamily.name.replace(' ', '-') %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ superfamily.name }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ safe_name }}">
                            {{ superfamily.name }} ({{ superfamily.datasets|length }} datasets)
                        </button>
                    </h2>
                    <div id="collapse-{{ safe_name }}" class="accordion-collapse collapse">

                   <!-- data-bs-parent="#superfamily-accordion"> -->
                        <div class="accordion-body">
                            {% for dataset in superfamily.datasets %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ dataset.name }} - Source: {{ dataset.source }}
                                    <input type="hidden" id="tree-file" value="{{ url_for('get_file', filename=dataset.tree) }}">
                                    <input type="hidden" id="metadata-file" value="{{ url_for('get_file', filename=dataset.metadata) }}">
                                    <input type="hidden" id="column_list" value="{{ dataset.metadata_columns }}">
                                    <button class="btn btn-primary show-button m-1" type="button"
                                    style="background-color: #a61e37; color: white;" 
                                    data-superfamily="{{ superfamily.name }}" data-dataset="{{ dataset.name }}">Show Tree</button>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </ul>

</form>
<div id="tree"></div>
<script>
    document.querySelectorAll('.accordion-button').forEach(function(button) {
        button.addEventListener('click', function() {
            document.querySelectorAll('.accordion-button').forEach(function(btn) {
                btn.classList.remove('selected-superfamily');
            });
            button.classList.add('selected-superfamily');
        });
    });
</script>
<script>
    document.querySelectorAll('.show-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var superfamilyName = button.getAttribute('data-superfamily');
            var datasetName = button.getAttribute('data-dataset');
            window.location.href = '/phylotree_render?superfamily=' + encodeURIComponent(superfamilyName) 
            + '&dataset=' + encodeURIComponent(datasetName);
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

{% endblock %}