<!-- BEGIN: Navigation Bar -->
{% extends "base.html" %}
{% block content %}





    <!-- //<nav>
    //  <ul>
    //   <li><a href="#">Home</a></li>
    //    <li><a href="#">About</a></li> -->
    <!-- //    <li><a href="#">Contact</a></li> -->
    <!-- //  </ul> -->
    </nav>
    <!-- END: Navigation Bar -->

    <!-- BEGIN: Text Content -->
    <div>
    <p>Natural products (NPs), many of which act as antibiotics, are small molecules synthesized by living organisms. With the rise of antibiotic resistance, discovering new antibiotics is essential. Genome mining is a powerful method that explores an organism's biosynthetic potential based on its genetic sequence, identifying biosynthetic gene clusters (BGCs) involved in the production of novel antibiotics.</p>
    <p>To prioritize BGCs for further experimental procedures, understanding the structure of the compound is crucial. While it is possible to predict the core structure (the molecule synthesized by core enzymes of BGCs) of some molecules from genomic data for certain BGC types, predicting the final structure remains challenging. This difficulty arises due to various modifications made by tailoring enzymes, and information about these targets is not yet well-organized.</p>
    <p>To address this, I am developing PhyloNaP, a tool designed to facilitate the prediction of tailoring enzyme functions. This advancement will enhance our ability to discover new antibiotics, crucial in combating antibiotic resistance.</p>
    </div>
    <!-- END: Text Content -->
{% endblock %}