{% extends "database.html" %}
{% block content %}
<h1>{{ file }} </h1>

    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="//stackpath.bootstrapcdn.com/bootswatch/4.1.1/spacelab/bootstrap.min.css"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="//d3js.org/d3.v6.js"></script>
    <script src="/static/js/phylotree.js/dist/phylotree.js"></script>

    <link href="/static/js/phylotree.js/dist/phylotree.css" rel="stylesheet" />

    <div id="tree"></div>

    <script async="true">
        const height = 500;
        const width = 500;
        const nwk = `{{ content }}`;

        const tree = new phylotree.phylotree(nwk);

        // Render bootstrap values
        bootstrapNodes = tree.getInternals();
        colorScale = d3.scaleSequential(d3.interpolateReds);
        colorNodesByName = function (element, data) {
          if (_.includes(bootstrapNodes, data)) {
            element.style("stroke", colorScale(parseFloat(data.data.name) / 100));
          }
        };

        // Define the images and their corresponding node IDs
        let images = {
          "BGC0001061_ACN64833.1": "static/pictures/1.jpg",
          "BGC0000247_CAK50791.1": "static/pictures/5.jpg",
          "BGC0000269_ADE34508.1": "static/pictures/3.jpg",
          "BGC0000230_AAM33664.1": "static/pictures/4.jpg"
        };

        // Assign the images to the leaf nodes
        tree.getTips().forEach(node => {
          if (images.hasOwnProperty(node.name)) {
            tree.assignAttributes({ [node.name]: { image: images[node.name] } });
          }
        });

        // Render the tree
        const renderedTree = tree.render({
          container: '#tree',
          height: height,
          width: width,
          'align-tips': false,
          'internal-names': true,
          'zoom': true,
          'node-styler': colorNodesByName
        });

        // Add images after the tree has been rendered
        setTimeout(function() {
          // Select the nodes where you want to add the image
          let nodes = d3.selectAll('.node').filter(d => images.hasOwnProperty(d.data.name));

          // Append an image to these nodes
          nodes.append("image")
            .attr('xlink:href', function (d) { return images[d.data.name]; })
            .attr('x', 200)
            .attr('y', -50)
            .attr('width', 100)
            .attr('height', 100);
        }, 0);
            // Render the tree from chatgpt
        //let treeContainer = d3.select("#tree-container");

        //treeContainer.call(tree.render);

        // Add images next to leaf nodes
        // tree.selectAll(".node")
        //     .filter(d => tree.isLeafNode(d))
        //     .append("image")
        //     .attr("xlink:href", d => d.annotations.image)
        //     .attr("x", 8)  // Adjust position as needed
        //     .attr("y", -8) // Adjust position as needed
        //     .attr("width", 16)  // Adjust size as needed
        //     .attr("height", 16) // Adjust size as needed
        //     .attr("class", "leaf-image");







        // const renderedTree = tree.render({
        //     container: '#tree',
        //     height:500, 
        //     width:500,
        //     'left-right-spacing': 'fit-to-size', 
        //     'top-bottom-spacing': 'fit-to-size'
        // });

        // $(tree.display.container).empty();
        $(tree.display.container).html(tree.display.show());
    </script>
{% endblock %}